// theme Color
$primary: hsl(26, 100%, 55%); // Orange: #ff7d1a
$secondary: hsl(25, 100%, 94%); // Pale orange: 
$info: hsl(220, 14%, 75%); // Grayish blue: 
$success: hsl(220, 13%, 13%); // Very dark blue: 
$warning: hsl(219, 9%, 45%); // Dark grayish blue:
$danger: hsl(223, 64%, 98%); // Light grayish blue: 
$light: hsl(0, 0%, 100%); // White 
$dark: hsl(0, 0%, 0%); // Black (with 75% opacity for lightbox background): 