#header {
    flex: 0 0 $header-size;

    .header-container {
        border-bottom: 0.5px solid rgba($info, 0.3);
        position: relative;

        @include breakpoint-up(lg) {
            position: static;
        }
    }

    .mobile-menu {
        margin: 0 1rem;
        cursor: pointer;

        @include breakpoint-up(md) {
            display: none;
        }
    }

    .logo-container {
        flex: 0 0 150px;
        margin-right: 0;

        @include breakpoint-up(md) {
            margin-right: 1rem;
        }
    }

    .main-nav {
        justify-content: end;

        @include breakpoint-up(lg) {
            justify-content: space-between;
        }
    }

    .left-nav {

        display: none;


        @include breakpoint-up(md) {
            // position: relative;
            display: block;
        }

        .link-container {
            flex-direction: column;
            padding: 6rem 1rem 1rem;
            align-items: flex-start;

            @include breakpoint-up (md) {
                align-items: center;
                flex-direction: row;
                padding: 0;
            }
        }

        .nav-item {
            cursor: pointer;
            margin: 0.5rem;
            list-style: none;
            height: auto;
            display: flex;
            align-items: center;
            border-bottom: 5px solid transparent;
            transition: $transition-timing all;
            color: $dark;
            font-weight: 700;

            @include breakpoint-up(md) {
                color: $warning;
                height: 100%;
                margin: 0 0.5rem;
                font-weight: 400;
            }

            @include breakpoint-up(lg) {
                margin: 0 1rem;
            }

            &:hover,
            :active {
                border-color: $primary;
                color: $dark;
                font-weight: 400;
            }
        }
    }


    .right-nav {
        flex: 0 0 auto;
        margin-right: 1rem;

        @include breakpoint-up(md) {
            margin-right: 0;
        }

        @include breakpoint-up(lg) {
            position: relative;
            flex: 0 0 300px;
        }

        &>div {
            @include breakpoint-up(lg) {
                justify-content: end;
            }
        }
    }

    .cart-image-container {
        margin: 0 1rem;
        cursor: pointer;

        @include breakpoint-up(md) {
            margin: 0 2.5rem;
        }

        &:hover,
        &:active {
            .cart-items-box {
                transform: translateY(0%);
            }
        }

        .cart-items-box {
            position: absolute;
            top: 90%;
            left: 3%;
            width: 95%;
            height: 250px;
            background-color: $light;
            box-shadow: 0 0 12px 2px rgba($dark, 0.1);
            border-radius: $border-radius;
            transform: translateY(-150%);
            transition: $transition-timing all;
            z-index: 1;

            @include breakpoint-up(md) {
                left: 0%;
                width: 100%;
            }

            @include breakpoint-up(lg) {
                top: 120%;
                width: 120%;
            }
        }

        .cart-count {
            top: -5px;
            right: -5px;
            background-color: $primary;
            padding: 2px 6px;
            font-size: 0.5rem;
            color: $light;
            border-radius: 50%;
        }

        .cart-heading {
            flex: 0 0 60px;
            border-bottom: 1px solid $info;
            padding: 1rem;
        }

        .cart-body {
            padding: 0.75rem;

            @include breakpoint-up(sm) {
                padding: 1.55rem;
            }

            .cart-product-thumbnail {
                height: 50px;
                border-radius: 4px;
            }

            .cart-product {
                margin-bottom: 0.5rem;

            }

            .cart-calculation,
            .cart-product {
                color: $warning;
                font-size: 0.875rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 200px;

                @include breakpoint-up(x-sm) {
                    font-size: 1rem;
                    overflow: auto;
                    max-width: 100%;
                }

            }

            .cart-total {
                color: $dark;
                font-weight: 700;
            }

            .checkout-container {
                margin: 1.25rem 0 1rem;
            }

            .empty-cart-text {
                font-weight: 700;
                color: $warning;
            }
        }
    }

    .avatar-container {
        height: 45px;
        width: 45px;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: $transition-timing all;

        &:hover {
            border-color: $primary;
        }
    }



}

#mobileMenu {
    display: none;

    &:checked {
        &~.mobile-nav {
            transform: translateX(0%);

            .close-menu {
                visibility: visible;
            }
        }

        &~.wrapper {
            position: relative;

            &::before {
                background-color: rgba($dark, 0.7);
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: 1;

                #header {
                    background-color: aqua;
                    display: none;



                }
            }
        }

    }
}

.mobile-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 65%;
    width: 65%;
    background-color: $light;
    z-index: 2;
    transform: translateX(-100%);
    transition: $transition-timing all;


    @include breakpoint-up(sm) {
        width: 50%;
    }

    @include breakpoint-up(md) {
        display: none;
    }

    .close-menu {
        z-index: 99;
        position: absolute;
        top: 30px;
        left: 20px;
        visibility: hidden;
    }

    .link-container {
        padding: 5rem 1rem 1rem;
        flex-direction: column;
    }

    .nav-item {
        margin: 0.75rem 0.5rem;
        list-style: none;
        transition: $transition-timing all;
        color: $dark;
        font-weight: 700;
    }
}